// colors
$red: #F80041;
$salmon: #f76c6c;
$yellow: #f8e9a1;
$baby-blue: #a8d0e6;
$blue: #374785;
$dark-blue: #24305e;
// font sizes
$h1-size: 1.9rem;
$h2-size: 1.8rem;
$subheading-size: 1.2rem;
$primary-btn: 1.1rem;