@import "variables";

* {
  @include resets;
}

body {
  min-height: 100vh;
  background: white;
  overflow-x: hidden;
}

.nav-container.scrolling-active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.nav-container {
  @include transition(box-shadow, 600ms);
  @include flexCenter;
  background: $salmon;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999999;

  .navbar {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 100%;

    h1 {
      font-weight: 900;
      margin-left: 2rem;
      color: white;
      font-size: $h1-size;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin-right: 2rem;
        list-style: none;

        a {
          @include transition(color, 300ms);
          text-decoration: none;
          color: white;
          font-weight: 500;

          &:hover {
            color: $dark-blue;
          }

          .contact {
            @include transition(background, 300ms);
            padding: 0.5rem 1rem;
            border-radius: 3px;
            background: $dark-blue;
            color: white;
            font-size: 1rem;

            &:hover {
              background: $baby-blue;
              color: $dark-blue;
            }
          }
        }
      }
    }
  }
}

.top-section {
  width: 100%;
  height: 100vh;
  background: $dark-blue;

  .main-top-container {
    @include flexCenter;
    flex-direction: column;
    max-width: 1400px;
    background: $dark-blue;
    height: 100%;
    margin: auto;

    .main-text {
      padding: 0 3rem;
      text-align: center;
      color: $salmon;
      font-size: $h2-size;
    }

    p {
      @extend .main-text;
      color: $baby-blue;
      font-size: $subheading-size;
    }

    a {
      @include btn;

      &:hover {
        background: $baby-blue;
      }
    }
  }
}

// TOP SECTION SVGs START
.custom-shape-divider-top-1640845458 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1640845458 svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 211px;
}

.custom-shape-divider-top-1640845458 .shape-fill {
  fill: $salmon;
}

.custom-shape-divider-bottom-1640845402 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1640845402 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 199px;
}

.custom-shape-divider-bottom-1640845402 .shape-fill {
  fill: $salmon;
}
// TOP SECTION SVGs END

.mid-section {
  width: 100%;
  height: 100vh;
  background: $salmon;
  position: relative;

  .mid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid: 1fr / 1fr 1fr;
    grid-template-areas: "text svg";
    position: relative;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background: $salmon;

    img {
      padding: 0 2rem;
    }

    .text-container {
      grid-area: text;

      .mid-text {
        color: white;
        text-align: center;
        padding: 0 3rem;
        font-size: $h2-size;
      }

      p {
        text-align: center;
        padding: 0 3rem;
        color: white;
        font-size: $p-size;
      }

      a {
        @include btn;
        display: block;
        width: 160px;
        text-align: center;
        margin: 1rem auto 0 auto;
        background: $dark-blue;
        color: white;

        &:hover {
          background: $baby-blue;
          color: $dark-blue;
        }
      }
    }
  }
}

.btn {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar {
    ul {
      li {
        display: none;
      }
    }

    .btn {
      @include flexCenter();
      margin-right: 2rem;
      cursor: pointer;
      position: relative;
      z-index: 999999;
    }

    .menu-bars {
      @include burger;
      position: relative;
      background: white;
      transition: transform 400ms ease-in-out, background 400ms ease-in-out,
        box-shadow 400ms ease-in-out;
    }

    .btn.open .menu-bars {
      transform: translateX(-50px);
      background: transparent;
    }

    .menu-bars::before,
    .menu-bars::after {
      content: "";
      @include burger;
      position: absolute;
    }

    .menu-bars::before {
      width: 100%;
      transform: translateY(-12px);
      background: white;
      transition: width 400ms ease-in-out, transform 400ms ease-in-out,
        background 400ms ease-in-out;
      opacity: 1;
    }

    .btn.open .menu-bars::before {
      background: white;
      transform: translateY(-16px);
      transform: translateX(50px) rotate(45deg);
    }

    .btn.open .menu-bars::before {
      width: 40px;
    }

    .menu-bars::after {
      background: white;
      transform: translateY(12px);
      transition: transform 400ms ease-in-out, background 400ms ease-in-out;
    }

    .btn.open .menu-bars::after {
      background: white;
      transform: translateY(16px);
      transform: translateX(50px) rotate(-45deg);
    }
  }

  .top-section {
    .main-top-container {
      .main-text {
        font-size: 1.5rem;
      }

      p {
        font-size: $p-size;
      }

      a {
        font-size: $primary-btn;
      }
    }
  }

  .mid-section {
    // border: 3px solid white;
    // height: 120vh;
    position: relative;

    .mid-container {
      // border: 2px solid blue;
      grid: 1fr 1fr / 1fr;
      grid-template-areas:
        "svg"
        "text";

      .svg {
        max-width: 400px;
        // max-width: 70vw;
        // max-height: 30vh;
        margin: 0 2rem;
      }

      .text-container {
        @include flexCenter();
        position: relative;
        flex-direction: column;
        background: $baby-blue;
        height: 100%;

        .mid-text {
          color: $dark-blue;
          // position: relative;
          // z-index: 99;
          font-size: 1.3rem;
        }

        .paragraph {
          font-size: 0.9rem;
          color: $dark-blue;
        }

        a {
          width: 135px;
          font-size: 0.9rem;
          background: $dark-blue;
          color: $baby-blue;

          &:hover {
            background: $salmon;
          }
        }
      }
    }
  }
}

// bottom middle wave
.custom-shape-divider-top-1640989481 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1640989481 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 46px;
}

.custom-shape-divider-top-1640989481 .shape-fill {
  fill: #f76c6c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1640989481 svg {
    width: calc(103% + 1.3px);
    height: 42px;
  }
}

// bottom dark blue waves
.custom-shape-divider-bottom-1640989056 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640989056 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.custom-shape-divider-bottom-1640989056 .shape-fill {
  fill: $dark-blue;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1640989056 svg {
    width: calc(103% + 1.3px);
    height: 52px;
  }
}
