@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.watch-body {
  min-height: 100vh;
  background: #f76c6c;
}

.nav-container {
  background: #f76c6c;
}

.search-container {
  position: relative;
  width: 30%;
}

.search-container .fa-search {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 0.8rem;
  color: #a1a1a1;
}

.search-container .nav-search {
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 0.4rem 0 0.3rem 2.2rem;
  outline: none;
}

.search-container .nav-search:focus {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

#sources {
  border: none;
  padding: 0.1rem 0 0.1rem 0.2rem;
  border-radius: 2px;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.outer-container {
  width: 100%;
  height: 100vh;
  border: 3px solid yellow;
}

.outer-container .container {
  height: 100vh;
  max-width: 1400px;
  border: 12px solid blue;
}

.outer-container .container .container-box {
  border: 2px solid black;
  margin: 1rem;
}

.outer-container .container .container-box img {
  max-width: 350px;
}

.bottom-section {
  width: 100%;
  height: 100vh;
}

.bottom-section .inner-container {
  margin: auto;
  padding: 90px 1rem;
  max-width: 1400px;
  height: 100%;
  border: 2px solid blue;
}

.bottom-section .inner-container .heading-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.bottom-section .inner-container .heading-text .fa-arrow-circle-up {
  margin-right: 0.5rem;
  color: #1bff1b;
  font-size: 2.5rem;
}

.bottom-section .inner-container .heading-text .fa-check-square {
  margin-right: 0.5rem;
  color: white;
  font-size: 2rem;
}

.bottom-section .inner-container .movies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.bottom-section .container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.bottom-section .container-box .text-container {
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-section .container-box .text-container h2 {
  font-family: "Fjalla One", sans-serif;
}

.bottom-section .container-box .text-container p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.bottom-section .container-box img {
  width: 100%;
  max-width: 220px;
  border-radius: 15px;
  margin-right: 0.5rem;
}

button,
select {
  padding: 0.3rem 0.4rem;
  border: none;
  margin: 0.5rem 0.5rem 0 0;
  border-radius: 3px;
}

#btn,
#top250,
#random,
#trending-movies,
#trending-people,
#open,
#trending-tv {
  background: #24305e;
  color: white;
  cursor: pointer;
}

.actor-box {
  margin: 0.5rem;
}

.actor-box .actor-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.actor-box .actor-text-container h2 {
  font-size: 1.3rem;
  font-family: "Fjalla One", sans-serif;
}

.actor-box .actor-text-container p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.actor-box img {
  width: 100%;
  max-width: 200px;
  border-radius: 15px;
}

.overlay-background {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 9999999999;
  height: 100%;
  width: 100vw;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.overlay {
  overflow-y: scroll;
  z-index: 999999999999999999999999;
  border-radius: 6px;
  background: #a8d0e6;
  padding: 1rem;
  width: 100%;
  max-width: 700px;
  height: 500px;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.overlay .fa-times {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.img-error {
  background-image: url(../images/no-img.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 220px;
  height: 329px;
}

@media screen and (max-width: 700px) {
  .bottom-section .inner-container .overlay {
    width: 90%;
    height: 50%;
    padding: 0;
  }
  .bottom-section .inner-container .heading-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bottom-section .container-box {
    overflow-x: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .bottom-section .container-box .text-container {
    max-width: 350px;
    text-align: center;
  }
  .bottom-section .container-box .text-container h2 {
    font-size: 1.5rem;
  }
  .bottom-section .container-box .text-container p {
    font-size: 0.9rem;
  }
  .bottom-section .container-box img {
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    margin-right: 0;
  }
}

/* TRIPLE SPINNER */
.triple-spinner {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #24305e;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

.triple-spinner.display {
  visibility: visible;
}

.triple-spinner::before,
.triple-spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
}

.triple-spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #374785;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3.5s linear infinite;
}

.triple-spinner::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #a8d0e6;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.75s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=watch.css.map */